<h1 align="center">Iniciar sesión</h1>

<div class="container-fluid">
  <div class="col-xs-offset-4 col-xs-4">
    <label for="email">Correo electrónico:</label><br>
    <input type="text" name="email" ng-model="email" class="form-control"><br>

    <label for="password">Contraseña:</label><br>
    <input type="password" name="password" ng-model="password" class="form-control"><br>

    <input type="submit" value="Iniciar sesión" class="btn btn-primary form-control" ng-click="login()">
  </div>
</div>
