<div class="container-fluid">
  <div class="col-xs-offset-4 col-xs-4">
    <!-- Formulario -->
    <form>
      <label for="nombre">Nombre:</label><br>
      <input ng-disabled="personas.length == 5" type="text" name="nombre" placeholder="Ingrese nombre" ng-model="_nombre" class="form-control"><br>

      <label for="edad">Edad:</label><br>
      <input ng-disabled="personas.length == 5" type="number" name="edad" ng-model="_edad" class="form-control"><br>

      <button ng-disabled="personas.length == 5" ng-click="newPerson()" class="form-control btn btn-primary">Agregar persona <span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <br>
    <!-- Botón de ayuda -->
    <div class="col-xs-offset-4 col-xs-4">
      <p align="center">Quieres ayuda?</p>
      <button class="form-control btn btn-primary" ng-click="toggleHelp()"><span class="glyphicon glyphicon-question-sign"></span></button>
    </div>
    <br>
    <div class="col-xs-12">
      <div class="aler alert-info" ng-if="helpFlag == true">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <br>
    <!-- Tabla -->
    <table class="table table-stripped" ng-if="personas.length != 0">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in personas">
          <td>{{ $index + 1 }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.edad }}</td>
          <td><button class="btn btn-primary" ng-click="deletePerson($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" ng-if="personas.length == 0">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      No hay elementos para mostrar.
    </div>
  </div>
</div>
